@import (reference) "~theme-styles";

.sdl-dita-delivery-app {

    .sdl-activityindicator {
        filter: grayscale(1);
    }

    .sdl-dita-delivery-breadcrumbs ul li .separator {
        margin-right: 0px;
    }

    .sdl-button.graphene.sdl-button-purpose-confirm {
        &:hover {
            opacity: 0.5;
        }
    }

    .sdl-dita-delivery-tile {
        background-color: #f6f6f6;
    }
}
